body  {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
  }
  
  h1 {
    font-family: Merriweather, serif;;
    font-size: 38px;
  }

  h2 {
    font-family: Merriweather, serif;;
    font-size: 32px;  
  }

.header-top {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: white;
    padding-top:15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
}

.top-links{
    display: flex;
    justify-content:flex-end;
    list-style-type: none;
    gap:20px;  
}

.header-body{
    box-sizing: border-box;
    display: flex;
    justify-content:space-between;
    gap:10px;
    background-color:#1F2937;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
}

.header-body-left {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    padding: 30px;
    width: 400px;
    }

button {
    background-color: #3882F6;
    padding: 6px;
    border-radius: 9px;
    border: 0px;
    color: white;
}

.header-body {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 350px;
}

.header-body img {
    box-sizing: border-box;
    width: 350px;
    padding:10px;
}

#card-body-heading {
    text-align: center;
}

.card-container{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 60px;
    margin:60px;
    gap: 20px;
}

.card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    height:300px;
    width:200px;
    
}

.card img {
    flex-grow: 1;
    border-color: #3882F6;
}

.quote-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #95939e;
    justify-content: center;
    height: 500px;
    padding:70px;
    color: #474747;
}

.quote {
    font-style: italic;
    font-size: 35px;
    align-self: center;
}

.quote-author {
    align-self: flex-end;
    font-size: 20px;
}

.calltoaction-container {
    padding: 90px;
    color: white;
    
}

.calltoaction-box {
    background-color: #3882F6;
    padding: 30px;
    height:100px;
    font-size: 13px;
}

.calltoaction-box button {
    border-color: white;
    border-width: 2px;
}
